<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="bg-gray-800 py-4 pb-4">
      <div class="flex items-center justify-between mx-auto max-w-7xl pl-6 pr-6 ">
        <div class="flex items-center space-x-4">
          <a href="/endpoints" class="text-white text-lg font-semibold">Mock API Studio</a>
          <nav class="flex items-center space-x-1">
            <a href="/endpoints" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Endpoints</a>
            <a href="/endpoints/create" class="inline-flex text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 0 0 3 3.5v13A1.5 1.5 0 0 0 4.5 18h11a1.5 1.5 0 0 0 1.5-1.5V7.621a1.5 1.5 0 0 0-.44-1.06l-4.12-4.122A1.5 1.5 0 0 0 11.378 2H4.5ZM10 8a.75.75 0 0 1 .75.75v1.5h1.5a.75.75 0 0 1 0 1.5h-1.5v1.5a.75.75 0 0 1-1.5 0v-1.5h-1.5a.75.75 0 0 1 0-1.5h1.5v-1.5A.75.75 0 0 1 10 8Z" clip-rule="evenodd" />
              </svg>
              <span class="ml-1">New Endpoint</span>
            </a>
          </nav>
        </div>
        <div>
          {{> server}}
        </div>
      </div>
    </div>
    {{{body}}}
  </body>
</html>
